page-tabs {
    .tabbar {
        background-color: #4487fc!important;
        color: white;
    }
    .tabs-md .tab-button[aria-selected=true], .tabs-md .tab-button[aria-selected=true] .tab-button-icon  {
        color: white;
    }

    .tabs-md .tab-button[aria-selected=true], .tabs-md .tab-button[aria-selected=true] .tab-button-icon  {
        color: white;
    }
    .tabs-ios .tab-button-icon , .tabs-ios .tab-button {
        color: #a4c3ff;
    }
    .tabs-ios .tab-button[aria-selected=true], .tabs-ios .tab-button[aria-selected=true] .tab-button-icon  {
        color: white;
    }
}
