<ion-header>
  <ion-navbar>
    <ion-title>{{
      searchTerm.charAt(0).toUpperCase() + searchTerm.slice(1)
    }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-label id="founded-label">Encontramos para tí</ion-label>
  <ion-list>
    <ion-item *ngFor="let op of businesses" (click)="openDetail(op)">
      <ion-avatar slot="start">
        <img src="{{ op.logo }}" />
      </ion-avatar>
      <div>
        <h2>{{ op.bussinessName }}</h2>
        <h3>{{ op.address }}</h3>
        <p class="item-text-wrap" *ngIf="getDist(op.lat, op.lon)">
          {{ getDist(op.lat, op.lon) }}
        </p>
      </div>
    </ion-item>
  </ion-list>

  <!--     <ion-card *ngFor="let op of businesses" (click)="openDetail(op)" no-padding>
      <ion-row>
        <ion-col col-4 text-center *ngIf="op.llg" class="logo">
          <img [src]="op.logo" alt="logo" width="50px" />
        </ion-col>
        <ion-col col-4 text-center *ngIf="!op.llg" class="logo">
          <img
            src="https://s3.amazonaws.com/seccion/card.png"
            alt="logo"
            width="50px"
          />
        </ion-col>
        <ion-col col-8 padding-vertical text-center>
          <h2 class="titu" padding-horizontal>{{ op.bn }}</h2>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-icon name="map" color="gris" item-start large></ion-icon>
        <p class="dir" text-capitalize >{{ op.address }}</p>
      </ion-item>

      <ion-item *ngIf="op.lat && coords.lat">
        <span *ngIf="getDist(op.lat, op.lon)" item-start class="dist"
          >A {{ getDist(op.lat, op.lon) }}</span
        >
      </ion-item>
    </ion-card>
 -->
  <ion-infinite-scroll (ionInfinite)="goAddList($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div *ngIf="errorMessage.length">
    <h2 text-center>{{ errorMessage }}</h2>
    <img src="assets/imgs/error.jpg" alt="" />
  </div>
</ion-content>
