<ion-header>
  <ion-navbar>
    <ion-title>{{
      searchTerm.charAt(0).toUpperCase() + searchTerm.slice(1)
    }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!errorMessage.length">
    <ion-label id="founded-label">ENCONTRAMOS PARA TI</ion-label>
    <ion-spinner name="circles" *ngIf="loading"></ion-spinner>

    <ion-list>
      <ion-item *ngFor="let op of businesses" (click)="openDetail(op)">
        <ion-avatar slot="start" margin-start class="square-img" >
          <img  src="{{ op.logo }}" />
        </ion-avatar>
        <div>
          <h2>{{ op.bussinessName }}</h2>
          <h3>{{ op.address }}</h3>
          <p class="item-text-wrap" *ngIf="getDist(op)">
            {{ getDist(op) }}
          </p>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="goAddList($event)" *ngIf="page < this.total">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <div *ngIf="errorMessage.length">
    <h2 text-center>{{ errorMessage }}</h2>
    <img src="assets/imgs/error.jpg" alt="" />
  </div>
</ion-content>
