page-list {


    .dir, .tel {
        font-size: 0.9em;
        white-space: normal;
        color: #000;
    }

    .titu {
        font-size: 1.1em;
        font-weight: 600;
    }

    

    .dist {
        margin-bottom: 10px;
    }

    .logo {
        height: 80px;
    }

    .icono-item {
        color: #666;
    }

    .dist {
        color: #488aff;
        font-weight: 600;
        font-size: 0.9em;
    }

    .lista-item ion-ico {
        color: rgba(0, 0, 0, 0.60) !important;
    }


}
