page-list {
  ion-item {
    padding-left: 0px!important;
    ion-avatar,
    div {
      display: inline-block;
    }

    ion-avatar {
      width: 10%;
    }
    div {
      width: 85%;
      h3 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 95%;
      }
    }
  }

  .item-block:first-child {
    border-top: 1px solid #dedede;
  }

  #founded-label {
    padding-left: 15px;
  }

  ion-spinner {
    margin: 50px 45% 10px 45%;
  }
}
