// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    color: #4487fc;
    width: 1em;
    height: 1em;
  }
  &[class*="ion-ios-custom-wine"] {
    mask-image: url(../../assets/icon/_ionicons_svg_ios-wine.svg);
  }
  &[class*="ion-ios-custom-cofee"] {
    mask-image: url(../../assets/icon/_ionicons_svg_ios-cafe.svg);
  }
  &[class*="ion-ios-custom-hospital"] {
    mask-image: url(../../assets/icon/_ionicons_svg_ios-hospital.svg);
  }
  &[class*="ion-ios-custom-car"] {
    mask-image: url(../../assets/icon/_ionicons_svg_ios-car.svg);
  }
  &[class*="ion-ios-custom-restaurant"] {
    mask-image: url(../../assets/icon/_ionicons_svg_ios-restaurant.svg);
  }
  &[class*="ion-ios-custom-phone"] {
    mask-image: url(../../assets/icon/_ionicons_svg_ios-phone-portrait.svg);
  }
  &[class*="ion-ios-custom-website"] {
    mask-image: url(../../assets/icon/_ionicons_svg_ios-website.svg);
  }
  &[class*="ion-ios-custom-email"] {
    mask-image: url(../../assets/icon/_ionicons_svg_ios-mail.svg);
  }
  &[class*="ion-ios-custom-arrow"] {
    mask-image: url(../../assets/icon/_ionicons_svg_ios-navigate.svg);
  }
  &[class*="ion-ios-custom-blog"] {
    mask-image: url(../../assets/icon/_ionicons_svg_ios-blog.svg);
  }
  &[class*="ion-ios-custom-home"] {
    mask-image: url(../../assets/icon/_ionicons_svg_ios-home.svg);
  }

  &[class*="ion-md-custom-wine"] {
    mask-image: url(../../assets/icon/_ionicons_svg_md-wine.svg);
  }
  &[class*="ion-md-custom-cofee"] {
    mask-image: url(../../assets/icon/_ionicons_svg_md-cafe.svg);
  }
  &[class*="ion-md-custom-hospital"] {
    mask-image: url(../../assets/icon/_ionicons_svg_md-hospital.svg);
  }
  &[class*="ion-md-custom-car"] {
    mask-image: url(../../assets/icon/_ionicons_svg_md-car.svg);
  }
  &[class*="ion-md-custom-restaurant"] {
    mask-image: url(../../assets/icon/_ionicons_svg_md-restaurant.svg);
  }
  &[class*="ion-md-custom-phone"] {
    mask-image: url(../../assets/icon/_ionicons_svg_md-phone-portrait.svg);
  }
  &[class*="ion-md-custom-website"] {
    mask-image: url(../../assets/icon/_ionicons_svg_md-website.svg);
  }
  &[class*="ion-md-custom-email"] {
    mask-image: url(../../assets/icon/_ionicons_svg_md-mail.svg);
  }
  &[class*="ion-md-custom-arrow"] {
    mask-image: url(../../assets/icon/_ionicons_svg_md-navigate.svg);
  }
  &[class*="ion-md-custom-blog"] {
    mask-image: url(../../assets/icon/_ionicons_svg_md-blog.svg);
  }
  &[class*="ion-md-custom-home"] {
    mask-image: url(../../assets/icon/_ionicons_svg_md-home.svg);
  }
}
