page-blog-index {
  .overlay {
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 99;
    top: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  ion-col {
    width: 90%;
    height: 60%;
  }
  .card {
    position: relative;
    height: 63%;
    width: 100%;
    margin: 3px;
  }
  img {
    height: 100%;
    width: 100%;
    filter: brightness(0.91);
  }

  @media (max-width: 440px) {
    .card {
      position: relative;
      width: 100%;
      height: 30%;
    }
  }
}
