page-detail {
  .item-td {
    white-space: normal;
  }

  #detail-actions {
    ion-item {
      padding-left: 0px;
      font-size: 1.5rem;
      
    }
  }
  #mapa_detail {
    width: 100%;
    height: 300px;
  }
  .business-details {
    padding-top: 15px;
    padding-bottom: 15px;

    b {
      font-size: 1.5rem;
    }
  }
  #business-info {
    padding-left: 0px;

    ion-avatar {
      display: inline-block;
      width: 3%;
    }
    #address {
      display: inline-block;
      width: 90%;
      b {
        font-size: 1.5rem;
        display: block;
        white-space: normal;
      width: 90%;

      }
      p {
        white-space: normal;
        width: 90%;
      }
    }
    ion-label {
      width: 100%;
    }
  }
  agm-map {
    height: 120px;
  }
}
