<ion-header>
  <ion-navbar> </ion-navbar>
</ion-header>

<ion-content>
  <ion-card padding>
    <ion-item id="business-adress">
      <ion-avatar slot="start">
        <ion-img src="{{ negocio.logo }}"></ion-img>
      </ion-avatar>
      <div>
        <b>{{ negocio.bussinessName }}</b>
        <p>{{ negocio.address }}</p>
      </div>
    </ion-item>

    <div id="detail-actions">
      <agm-map
        [latitude]="negocio.location.lat"
        [longitude]="negocio.location.lon"
        [zoom]="15"
        [zoomControl]="false"
        [mapDraggable]="false"
        [streetViewControl]="false"
        [clickableIcons]="false"
        *ngIf="negocio.location"
      >
        <agm-marker
          [latitude]="negocio.location.lat"
          [longitude]="negocio.location.lon"
          [label]="negocio.bussinessName.charAt(0)"
        >
        </agm-marker>
      </agm-map>
      <ion-item
        (click)="
          actionMap(
            negocio.location.lat,
            negocio.location.lon,
            negocio.bussinessName,
            negocio.address
          )
        "
        *ngIf="negocio.location"
      >
        <ion-icon name="custom-arrow"></ion-icon>
        ¿Cómo Llegar?
      </ion-item>
      <ion-item (click)="actionEmail(negocio.lke)" *ngIf="negocio.lke">
        <ion-icon name="custom-email"></ion-icon>
        Envíar email
      </ion-item>
      <ion-item (click)="actionSitio(negocio.site)" *ngIf="negocio.site">
        <ion-icon name="custom-website"></ion-icon>
        Sitio Web
      </ion-item>
      <ion-item
        (click)="actionCall(negocio.phones[0].number)"
        *ngIf="negocio.phones"
      >
        <ion-icon name="custom-phone"></ion-icon>
        {{ negocio.phones[0].number }}
      </ion-item>
    </div>
    <div class="business-details" *ngIf="negocio.txtschedule">
      <b>Horarios</b>
      <p class="item-td" *ngFor="let schedule of negocio.txtschedule">
        {{ schedule.text }}
      </p>
    </div>
    <div class="business-details ion-text-justify" *ngIf="negocio.services">
      <b>Productos y Servicios</b>
      <p class="item-td ion-text-justify">
        {{ negocio.services }}
      </p>
    </div>
    <div class="business-details" *ngIf="negocio.paymentTypeList">
      <b>Formas de Pago</b>
      <p class="item-td ion-text-justify">{{ negocio.paymentTypeList }}</p>
    </div>
  </ion-card>
</ion-content>
