<ion-header>

  <ion-navbar>
    <ion-title>{{negocio.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--<ion-item>
    <p class="item-td" color="primary" item-end>{{negocio.ctg}}</p>
  </ion-item>-->
  <ion-item>
    <ion-thumbnail item-start *ngIf="negocio.logo">
      <div class="negocio" padding-vertical>
        <img [src]="negocio.logo" alt="logo">
      </div>
    </ion-thumbnail>
    <ion-thumbnail item-start *ngIf="!negocio.logo">
      <img src="https://s3.amazonaws.com/seccion/card.png" alt="logo">
    </ion-thumbnail>
    <h2>{{negocio.name}}</h2>
    <p class="item-td">{{negocio.address}}</p>
  </ion-item>

  <!--<div id="mapa_detail">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="17" [scrollwheel]="false" [zoomControl]="false">
      <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="urlIcon"></agm-marker>
    </agm-map>
  </div>-->
  
  <ion-list class="detail-actions">
    <button ion-item icon-start (click)="actionCall(negocio.phone)" *ngIf="negocio.phone">
      <ion-icon name="call"></ion-icon>
      Llamar
    </button>
    <button ion-item icon-start (click)="actionEmail(negocio.email)" *ngIf="negocio.email">
      <ion-icon name="send"></ion-icon>
      Enviar E-Mail
    </button>
    <button ion-item icon-start (click)="actionMap(negocio.lat,negocio.lng,negocio.name,negocio.address)" *ngIf="negocio.lat && negocio.lng">
      <ion-icon name="map"></ion-icon>
      ¿Como Llegar?
    </button> 
    <button ion-item icon-start (click)="actionSitio(negocio.sitio)" *ngIf="negocio.sitio">
      <ion-icon name="share-alt"></ion-icon>
      Sitio Web
    </button> 
    <!--<button ion-item icon-start (click)="itemSelected(item)" *ngIf="negocio.phone">
      <ion-icon name="star"></ion-icon>
      Añadir a Favoritos
    </button>-->
  </ion-list>

  <ion-row>
    
    <ion-item *ngIf="negocio.hrs"> 
      <h2>Horarios</h2>
      <p class="item-td">{{negocio.hrs}}</p>
    </ion-item>
    <ion-item *ngIf="negocio.phones.length > 0">
      <h2>Telefono</h2>
      <p *ngFor="let op of negocio.phones" class="item-td">{{op}}</p>
    </ion-item>
    <ion-item *ngIf="negocio.pys">
      <h2>Productos y Servicios</h2>
      <p class="item-td">{{negocio.pys}}</p>
    </ion-item>
    <ion-item *ngIf="negocio.payment">
      <h2>Formas de Pago</h2>
      <p class="item-td">{{negocio.payment}}</p>
    </ion-item>

   
  </ion-row>

</ion-content>