<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card padding>
    <ion-item id="business-adress">
      <ion-avatar slot="start">
        <ion-img
          src="{{negocio.logo}}"
        ></ion-img>
      </ion-avatar>
      <div>
          <b>{{ negocio.bussinessName }}</b>
          <p>{{ negocio.address }}</p> 
      </div>
    </ion-item>
    <div id="detail-actions">
      <ion-item
        (click)="
          actionMap(negocio.lat, negocio.lon, negocio.bn, negocio.address)
        "
        *ngIf="coords"
      >
        <ion-icon name="custom-arrow"></ion-icon>
        ¿Cómo Llegar?
      </ion-item>
      <ion-item (click)="actionEmail(negocio.lke)" *ngIf="negocio.lke">
        <ion-icon name="custom-email"></ion-icon>
        Envíar email
      </ion-item>
      <ion-item (click)="actionSitio(negocio.url)" *ngIf="negocio.url">
        <ion-icon name="custom-website"></ion-icon>
        Sitio Web
      </ion-item>
      <ion-item
        (click)="actionCall(negocio.phones[0].number)"
        *ngIf="negocio.phones"
      >
        <ion-icon name="custom-phone"></ion-icon>
        {{ negocio.phones[0].number }}
      </ion-item>
    </div>

    <div class="business-details" *ngIf="negocio.txtschedule">
      <b>Horarios</b>
      <p class="item-td" *ngFor="let schedule of negocio.txtschedule">
        {{ schedule.text }}
      </p>
    </div>
    <div class="business-details ion-text-justify" *ngIf="negocio.services">
      <b>Productos y Servicios</b>
      <p class="item-td ion-text-justify">
        {{ negocio.services }}
      </p>
    </div>
    <div class="business-details" *ngIf="negocio.paymentTypeList">
      <b>Formas de Pago</b>
      <p class="item-td ion-text-justify">{{ negocio.paymentTypeList }}</p>
    </div>
  </ion-card>
</ion-content>
